#myFab{
    background: url(../../assets/imgs/guy.jpg);
    background-size: contain;
    transform: scale(2) ;
}
#header{
    padding: 20px 0;
    height: 126px;
    margin-bottom: 80px;
    background: #BE93C5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #7BC6CC, #BE93C5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7BC6CC, #BE93C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    #cont{
       left: 50%;
       transform: translateX(-50%);
       top: 100px;

    }

    h5{
        text-align: center;
        width: 100%;
        display: block;
        color: #f0f8ff;
    }
    h4{
        text-align: center;
        background-color: none;
    }
}
#content{
    background-color: #BE93C5;
    width: 100%;
}
