#center{
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.swiper-pagination-bullet-active{
    background : #f3a183;
}

.ic{

    height: 150px !important;
    padding: 15px 0;
}

h5{
    color: #f3a183;
    padding: 0 20px;
    font-weight: lighter;
    letter-spacing: 1.5px;
}

#start{
    position: absolute;
    bottom: 50px;
    left: 40px;
    width: calc(100% - 80px);
    border: 2px solid #f3a183;
    color: #f3a183;
    background: transparent;
    box-shadow: none;
    z-index: 9999;
    border-radius: 20px !important;
    margin-top: 30px !important;
    padding: 0 20px;

}