#bg{
    //background: linear-gradient(to right, #fd746c, #fd9068);
    //background: linear-gradient(to right, #d3cce3, #e9e4f0);
    background: linear-gradient(25deg, #1cd8d2, #93edc7);
    //background: linear-gradient(-35deg, #085078, #85d8ce) !important;
   
}

#logo{
    width: 130px;
    height: 55px;
    background: url(../assets/imgs/toy-swap.png) center no-repeat;
    background-size: contain;
    margin: 20px 10px 10px calc(50% - 65px);
}

.clear{
    background: transparent !important;

    .tb{
        color: #293f55;
        text-align: right;

        ::placeholder{
            color: #293f55;
        }
    }
}

.bt{
    border-radius: 20px !important;
    margin-top: 30px !important;
    background: transparent;
    color: #293f55;
    font-weight: normal;
    font-size: 11px;
    border: 2px solid rgba($color: #000000, $alpha: .7);
    box-shadow: none;

}
.lb{
    color: #293f55 !important;
    text-align: center;
    font-size: 11pt !important;
    font-weight: lighter !important;
}
#reset{
    color: #293f55;
    font-size: 12pt;
    display: block;
    background: none;
    margin: auto;
    padding: 20px 0;
    text-decoration: underline;
}

.validation-errors{
    color: tomato;
    transition: all .3s ease;
    font-size: 11px;
}

.sl{
    height: auto !important;
    overflow-y: scroll;
}

.form{
   padding-top: 15px;
}
.alert-head, .alert-sub-title{
    color: black !important;
}
h2{
    width: 100%;
    padding: 10px;
    color: #293f55;
    display: block;
    font-family: 'Segoe UI';
    font-size: 16px;
    font-weight: lighter;
}

#flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    button{
        margin: 10px;
    }
}

#heading{
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: lighters;
    color: #293f55;
    letter-spacing: 2px;
    font-size: 12px;
}
