.img-fab{
  transform: translate(20px, -25px);
  position: absolute !important;
  z-index: 999999 !important;
  
  
 
  button{
    background: white;
    
   
  }
}

.profile{
  background: #1cd8d2;
  
}
h3{
  padding: 40px 20px 2px;
  text-transform: capitalize;
  color: aliceblue !important;
}

.ph{
  min-height: 340px;  
}
.cards{
  animation: fadeIn 700ms ease-in;
  z-index: -5 !important;

  div{
    color: aliceblue !important;
    font-weight: lighter; 
  }

  #right{
    text-align: right;
  }
}

#feed{
  background: aliceblue;
}


#nav{
  width: calc(100% - 16px);
  left: 8px;
  background: white;
  height: 50px;
  position: fixed;
  top: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1), 2px 4px 5px rgba(0, 0, 0, 0.1),  0px -2px 2px rgba(0, 0, 0, 0.14);
  ion-searchbar{
    padding: 0px;
    
  }
}

.searchbar-input{
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none  !important;
  box-shadow: none  !important;
  background: transparent !important;
}

.searchbar-input:focus-within{
  //border-bottom: 1px solid grey;
}
#main{
  padding-bottom: 70px;
  padding-top: 70px;
}
@keyframes fadeIn{
  0%{
    opacity: 0;
  }
}