<ion-header>

  <ion-navbar>
    <ion-row>
      <ion-col  col-2>
        <button ion-button icon-only  clear medium (click) = "profile();">
          <ion-icon name = "person"></ion-icon>
        </button>
      </ion-col>
      <ion-col  col->
        <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
      </ion-col>
      <ion-col  col-2>
        <button ion-button icon-only  clear medium (click) = "notify();">
          <ion-icon name = "more"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content id = "feed">
  <ion-refresher (ionRefresh)="doRefresh($event);">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf = "items != null">
    <ion-card  *ngFor = "let item of items">
      
      <ion-slides pager>
        <ion-slide *ngFor = "let slideUrl of item.imgUrl">
          <img src="{{slideUrl}}"/>
        </ion-slide>
      </ion-slides>
      <div class="b_profile">
        <ion-row>
          <ion-col col-2>
              <img src="{{item.profilePicture}}">
          </ion-col>
          <ion-col col-10>
            <h2 ion-text>{{item.username}}</h2>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-4>
              <button ion-button icon-start clear medium (click) = "bidFor(item)">
                <ion-icon name="add-circle"></ion-icon>
                <div>bid</div>
              </button>
            </ion-col>
            <ion-col col-4>
              <button ion-button icon-start clear medium>
                <ion-icon name="flag"></ion-icon>
                <div>report</div>
              </button>
            </ion-col>
            <ion-col col-4 center text-center>
              <button ion-button icon-start clear medium>
                <ion-icon name="eye"></ion-icon>
                <ion-badge item-end>{{item.views}}</ion-badge>
              </button>
            </ion-col>
          </ion-row>
      </div>
    </ion-card>
  </div>
  
  <ion-fab bottom right>
    <button ion-fab  (click) = "addItem();"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
