.img-fab{
  transform: translate(20px, -25px);
  
  button{
    background: white;
  }
}
.profile{
  background: #fd746c;
  
}
h3{
  padding: 40px 20px 2px;
  text-transform: capitalize;
  color: aliceblue !important;
}

.cards{
  animation: fadeIn 300ms ease-in;

  div{
    color: aliceblue !important;
    font-weight: lighter; 
  }
}

#main{
  padding-bottom: 70px;
}
@keyframes fadeIn{
  0%{
    opacity: .2;
    transform: translateY(15px);
  }
}