#preview{
  min-height: 40px;
  width: 100%;
  background: whitesmoke;

  .thumbnails{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: grey;
    margin: 2px;
    line-height: 25px;
    
  }
}