#preview{
  height: 54px;
  padding: 2px;
  width: 100%;
  background: whitesmoke;
  display: flex;
  flex-direction: row;
  border-radius: 5px;

  .thumbnails{
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 0px 5px;
    
  }
}