#preview{
  min-height: 40px;
  width: 100%;
  background: whitesmoke;
  display: flex;
  flex-direction: row;

  .thumbnails{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 2px;
    
  }
}